{% extends "base.html" %}
{% block title %} User {% endblock %}

{% block content%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="alert-success w-100 text-center">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container-fluid">
    <!-- <h1>
        Hello {{content}}
    </h1> -->
    <form action="#" method="post">
        <input type="email" name="email" class="form-control" placeholder="Enter your email">
        <input type="submit" class="btn btn-primary mt-3" value="submit">
    </form>
</div>

{% endblock %}